<!doctype html>
<html>

<head>
    <title>Lit Club</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="todo-app">
            <h1 id="title">TODO</h1>
            <img class="empty-image" src="../img/ABLCBeige.png" alt="empty">
            <p>Join Here!</p>
            <div class="login">
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            </div>
        </div>
    </div>
</body>

</html>